@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;700;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat&family=Poppins:wght@400;500;700&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a, h1 {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #1b1b1b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.nav-menu {
  display: flex;
}

.hamburguer {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.bg {
  background-image: url('../src/assets/background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .hamburguer {
    display: block;
    padding: 1rem;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    background: #1b1b1b;
    flex-direction: column;
    top: 80px;
    height: 100%;
    width: 60%;
    transform: 0.3s;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu li {
    padding: 1rem;
  }

  .nav-menu.active {
    left: 0;
  }
}